# Set the default behavior for all files to use LF line endings.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.rs text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.exe text eol=crlf